<div class="layui-hide-xs">
    <div class="fly-panel fly-column">
        <div class="layui-container">
            <ul class="layui-clear">
                <li class="layui-hide-xs"><a href="/">首页</a></li>
                <li class="layui-this"><a href="">提问</a></li>
                <li><a href="">分享<span class="layui-badge-dot"></span></a></li>
                <li><a href="">讨论</a></li>
                <li><a href="">建议</a></li>
                <li><a href="">公告</a></li>
                <li><a href="">动态</a></li>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

                <!-- 用户登入后显示 -->
                <!--<li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html">我发表的贴</a></li>-->
                <!--<li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="../user/index.html#collection">我收藏的贴</a></li>-->
            </ul>

            <div class="fly-column-right layui-hide-xs">
                <span class="fly-search"><i class="layui-icon"></i></span>
                <a href="add.html" class="layui-btn">发表新帖</a>
            </div>
            <div class="layui-hide-sm layui-show-xs-block"
                 style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
                <a href="add.html" class="layui-btn">发表新帖</a>
            </div>
        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1>{$article["title"]}</h1>
                <div class="fly-detail-info">
                    <!-- <span class="layui-badge">审核中</span> -->
                    <span class="layui-badge layui-bg-green fly-detail-column">动态</span>

                    <span class="layui-badge" style="background-color: #999;">未结</span>
                    <!-- <span class="layui-badge" style="background-color: #5FB878;">已结</span> -->

                    <span class="layui-badge layui-bg-black">置顶</span>
                    <span class="layui-badge layui-bg-red">精帖</span>

                    <!--<div class="fly-admin-box" data-id="123">-->
                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>-->

                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span>-->
                        <!--&lt;!&ndash; <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> &ndash;&gt;-->

                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span>-->
                        <!--&lt;!&ndash; <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> &ndash;&gt;-->
                    <!--</div>-->
                    <span class="fly-list-nums">
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> 66</a>
            <i class="iconfont" title="人气">&#xe60b;</i> {$article['views']}
          </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="{:url('business/user/home',['id'=>$userInfo.id])}">
                        <img src="{$userInfo.avatar}" onerror=this.src="__RES__/images/avatar/3.jpg"
                             alt="{$article.username}">
                    </a>
                    <div class="fly-detail-user">
                        <a href="{:url('business/user/home',['id'=>$userInfo.id])}" class="fly-link">
                            <cite>{$article.username}</cite>
                            <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                            <i class="layui-badge fly-badge-vip">VIP3</i>
                        </a>
                        <span>{$article["create_time"]|date="Y/m/d H:i:s",###}</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200">悬赏：{$article['views']}飞吻</span>
                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span>-->
                    </div>
                </div>
                <div class="detail-body photos">
                    {$article.content}
                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">
                    {empty name="comments"}
                    <!-- 无数据时 -->
                    <li class="fly-none">暂时没用评论哦！</li>
                    {else /}
                    {volist name="comments" id="vo"}
                    <li data-id="111" class="jieda-daan">
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar" href="{:url('business/user/home',['id'=>$vo['user_id']])}">
                                <img src="{$vo.avatar}" alt="{$vo.account}">
                            </a>
                            <div class="fly-detail-user">
                                <a href="" class="fly-link">
                                    <cite>{$vo.account}</cite>
                                    <i class="layui-badge fly-badge-vip">VIP3</i>
                                </a>
                            </div>

                            <div class="detail-hits">
                                <span>{$vo.create_time|date="Y-m-d H:i:s",###}</span>
                            </div>
                            <!--<i class="iconfont icon-caina" title="最佳答案"></i>-->
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p>{$vo['comment_content']}</p>
                        </div>
                        <div class="jieda-reply"><span class="jieda-zan zanok" data-id="{$vo['comment_id']}" data-userid="{$vo.user_id}" data-zanuserid="{$userInfo.id}" type="zan">
                            <i class="iconfont icon-zan"></i>
                            <em>
                            {if condition="$vo.zan neq 0"}
                                {$vo.zan}
                            {/if}
                            </em>
                        </span>
                            <span type="reply" class="comment-reply"><i class="iconfont icon-svgmoban53"></i>回复</span>
                            {if condition="$userInfo.id eq $vo.user_id"}
                            <div class="jieda-admin">
                                <span type="edit" >编辑</span>
                                <span type="del" data-id="{$vo['comment_id']}" class="comment-del">删除</span>
                            </div>
                            {/if}
                        </div>
                    </li>
                    {/volist}
                    {/empty}
                </ul>

                <div class="layui-form layui-form-pane">
                    <form method="post">
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                                <textarea id="L_content" name="comment_content" required lay-verify="required"
                                          placeholder="请输入内容" class="layui-textarea fly-editor"
                                          style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" name="post_id" value="{$postId}">
                            <input type="hidden" name="parent_id" value="0">
                            <input type="hidden" name="user_id" value="{$userInfo.id}">
                            <button class="layui-btn" lay-filter="commentForm" lay-submit>提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <!-- 无数据时 -->
                <div class="fly-none">没有相关数据</div>
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu"
                       time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">相信自己，贵在坚持！ </a>
                </div>
            </div>

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                <img src="__COMMON__/images/wecaht.png" style="max-width: 100%;" alt="layui">
                <p style="position: relative; color: #666;">微信扫码关注</p>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    SyntaxHighlighter.all();
</script>


