<div class="my-3 my-md-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-status bg-blue"></div>
                        <div class="card-category"><h4>支付宝</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/alipay-pay.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持PC扫码</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持APP支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>个人实时收款</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn btn-info btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-body text-center">
                        <div class="card-category"><h4>微信</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/wechat-pay.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持PC扫码</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持APP支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>公众号支付</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn btn-success btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-status bg-red"></div>
                        <div class="card-category"><h4>QQ钱包</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/qq-pay.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持全网关</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持APP支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>个人实时收款</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn btn-red btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-status bg-gray"></div>
                        <div class="card-category"><h4>银联快捷</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/pay_way_05_cu.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持全网关</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持快捷付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>一站式解决</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn btn-facebook btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h2 class="page-title">
                免费体验支付流程
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-header">
                        <i class="payment payment-alipay" data-toggle="tooltip" title="" data-original-title="payment payment-alipay"></i>&nbsp;<h2 class="card-title">1分钱体验回调</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-controls-stacked">
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="example-inline-radios" value="option1" checked="">
                                    <span class="custom-control-label"><h5>支付宝支付</h5></span>
                                </label>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="example-inline-radios" value="option2">
                                    <span class="custom-control-label"><h5>微信支付</h5></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-primary btn-block">立即体验</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-orange"></div>
                    <div class="card-header">
                        <i class="payment payment-unionpay" data-toggle="tooltip" title="" data-original-title="payment payment-unionpay"></i>&nbsp;<h2 class="card-title">自定义金额测试</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </span>
                                <input type="text" class="form-control text-right"
                                       aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-append">
                            <span class="input-group-text">.00</span>
                          </span>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-primary btn-block">立即体验</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-status bg-red"></div>
                    <div class="card-header">
                        <i class="payment payment-visa"></i>&nbsp;<h3 class="card-title">支付场景</h3>
                    </div>
                    <div class="card-body">
                        <i class="payment payment-alipay-dark" data-toggle="tooltip" title="" data-original-title="payment payment-alipay-dark"></i>
                        <i class="payment payment-amazon-dark" data-toggle="tooltip" title="" data-original-title="payment payment-amazon-dark"></i>
                        <i class="payment payment-amazon-dark" data-toggle="tooltip" title="" data-original-title="payment payment-amazon-dark"></i>
                        <i class="payment payment-amazon-dark" data-toggle="tooltip" title="" data-original-title="payment payment-amazon-dark"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h2 class="page-title">
                产品优势
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-header">
                       <h4>安全</h4>
                    </div>
                    <div class="card-body">
                        稳定的系统保障和 专业的技术团队支持
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-header">
                      <h4>数据</h4>
                    </div>
                    <div class="card-body">
                        后台数据详尽直观，轻松 管理查看各渠道交易数据 统计分析各阶段数据占比
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-header">
                        <h4>服务</h4>
                    </div>
                    <div class="card-body">
                        7*24小时在线服务
                        提供快速的解决方案
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-status bg-green"></div>
                    <div class="card-header">
                        <h4>高效、便捷</h4>
                    </div>
                    <div class="card-body">
                        一个工作日内即可 开通使用产品。一个操作平台 聚合多种交易渠道。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
