<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner slide">
        <div class="carousel-item active">
            <img src="__PHOTOS__/banner1.png">
            <div class="carousel-caption">
                <h3>无需签约支付宝、微信支付</h3>
                <p>只需个人账户即可开通收款，无需成为支付宝、微信商家。</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="__PHOTOS__/banner2.jpg">
            <div class="carousel-caption">
                <h3>支付流程体验</h3>
                <p>体验接入后您用户的付款流程，收款码会变成您个人的收款码，款项直入您支付宝微信账户，并即时回调</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="__PHOTOS__/banner1.png">
            <div class="carousel-caption ">
                <h3>全场景支付</h3>
                <p>提供支付接入方案，可在各种场景中流畅交易</p>
            </div>
        </div>
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<div class="my-3 my-md-12">
    <div class="container">
        <div class="page-header">
            <h2 class="page-title">
                无需签约支付宝、微信支付
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3" style="margin-top: 10px;margin-bottom: -15px;">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-category"><h4>支付宝</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/alipay-pay.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持PC扫码</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持APP支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>个人实时收款</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3"   style="margin-top: 10px;margin-bottom: -15px;">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-category"><h4>微信</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/wechat-pay.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持PC扫码</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持APP支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>公众号支付</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3"   style="margin-top: 10px;margin-bottom: -15px;">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-category"><h4>QQ钱包</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/qq-pay.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持全网关</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持APP支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>个人实时收款</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3"   style="margin-top: 10px;margin-bottom: -15px;">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-category"><h4>银联快捷</h4></div>
                        <div class="display-3 my-4"><img src="__PHOTOS__/pay_way_05_cu.png" alt=""></div>
                        <ul class="list-unstyled leading-loose">
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持全网关</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持快捷付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>支持H5支付</li>
                            <li><i class="fe fe-check text-success mr-2" aria-hidden="true"></i>一站式解决</li>
                        </ul>
                        <div class="text-center mt-6">
                            <a href="#" class="btn  btn-block">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <h2 class="page-title">
                支付流程体验
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-6"  style="margin-top: 20px;">
                <div class="card">
                    <div class="card-header">
                        <i class="payment payment-alipay" data-toggle="tooltip" title="" data-original-title="payment payment-alipay"></i>&nbsp;<h2 class="card-title">1分钱体验回调</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-controls-stacked" style="margin-top: 5px;">
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="example-inline-radios" value="option1" checked="">
                                    <span class="custom-control-label"><h5>支付宝支付</h5></span>
                                </label>
                                <label class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="example-inline-radios" value="option2">
                                    <span class="custom-control-label"><h5>微信支付</h5></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-outline-info btn-block">立即体验</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6"  style="margin-top: 20px;">
                <div class="card">
                    <div class="card-header">
                        <i class="payment payment-unionpay" data-toggle="tooltip" title="" data-original-title="payment payment-unionpay"></i>&nbsp;<h2 class="card-title">自定义金额测试</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </span>
                                <input type="text" class="form-control text-right"
                                       aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-append">
                            <span class="input-group-text">.00</span>
                          </span>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-outline-info btn-block">立即体验</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
